n8n/actualWorkflow.json
{
  "nodes": [
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.body.action }}",
        "rules": {
          "rules": [
            {
              "value2": "file_upload"
            },
            {
              "value2": "file_upload"
            },
            {
              "value2": "user_message",
              "output": 1
            },
            {
              "value2": "get_availability",
              "output": 2
            }
          ]
        }
      },
      "id": "31e1b94a-f9e0-4ab4-a6c8-0fd569cae051",
      "name": "Router de Acción",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        2288,
        2688
      ]
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/calendar/v3/calendars/primary/events?timeMin={{ $json.body.date }}T00:00:00Z&timeMax={{ $json.body.date }}T23:59:59Z&singleEvents=true",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "options": {}
      },
      "id": "de8039f2-bcd3-46b5-802a-717c72982da8",
      "name": "Fetch Calendar Busy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3024,
        3216
      ],
      "credentials": {
        "googleApi": {
          "id": "JyHXuGtPXmmi0GnY",
          "name": "calendar"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extraer horarios ocupados\nconst events = $input.first().json.items || [];\nconst busySlots = events.map(e => {\n  const date = new Date(e.start.dateTime || e.start.date);\n  return `${date.getHours().toString().padStart(2, '0')}:${date.getMinutes().toString().padStart(2, '0')}`;\n});\n\nreturn {\n  busySlots\n};"
      },
      "id": "6af18d3f-b80e-4144-a23d-677633c1c5bb",
      "name": "Process Busy Slots",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3520,
        3216
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sessionId",
              "name": "sessionId",
              "value": "={{ $json.body.sessionId }}",
              "type": "string"
            },
            {
              "name": "chatInput",
              "value": "={{ $json.body.text }}",
              "type": "string",
              "id": "8d2d8867-023b-40af-835e-394ff1ba3cde"
            },
            {
              "id": "6bc5a9f0-7640-4425-9cf7-039d543d9c51",
              "name": "clientId",
              "value": "={{ $json.body.metadata.clientId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "890aa656-cc09-4b15-b42a-aa6344144da8",
      "name": "Set Session ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2512,
        2720
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=Eres 'Agente Legal', asistente virtual de Escobar & Asociados.\n\nTU RESPONSABILIDAD PRINCIPAL:\nResponder preguntas legales básicas y captar datos de clientes potenciales.\n\nESTRUCTURA DE RESPUESTA OBLIGATORIA (JSON):\nDebes devolver SIEMPRE un JSON válido con esta estructura:\n{\n  \"text\": \"Tu respuesta amable aquí...\",\n  \"suggestions\": [\"Opción 1\", \"Opción 2\"],\n  \"action\": \"optional_action_key\"\n}\n\nREGLAS DE NEGOCIO:\n1. Si el usuario pregunta precios -> \"action\": \"show_payment_gateway\".\n2. Si el usuario quiere agendar una cita (y aún no ha elegido fecha/hora) -> Responde con \"action\": \"schedule_appointment\".\n3. MUY IMPORTANTE: Si el mensaje del usuario ya contiene una fecha y hora elegida (ej: \"Agendar para el...\"), NO devuelvas ninguna acción de calendario. En ese caso, solo confirma la recepción y pide los datos faltantes (Nombre y Email).\n4. Si el usuario saluda -> \"suggestions\": [\"Consultar Precio\", \"Agendar Cita\", \"Hablar con Humano\"].\n5. NO inventes leyes. Consulta tu base de conocimiento.\n6. Si faltan datos de contacto (Nombre, Email), pídelos amablemente para finalizar la reserva."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        2864,
        2400
      ],
      "id": "16bc09ea-76b4-4b5e-a042-7448ecf24895",
      "name": "Agente Legal AI"
    },
    {
      "parameters": {
        "content": "## Mock de Archivos\nSimulamos que procesamos el archivo y le avisamos al agente."
      },
      "id": "7dc41d88-0755-4715-970e-86d3ec8c9517",
      "name": "Nota",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2400,
        2224
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    output: `He recibido tu archivo \"${$json.body.file.name}\". Lo estoy analizando para darte una respuesta precisa.`,\n    suggestions: ['Ver análisis preliminar', 'Subir otro documento'],\n    action: 'analyzing_document'\n  }\n};"
      },
      "id": "f6572dca-015d-469f-8b1c-64f2c95f3e9e",
      "name": "Procesar Archivo (Mock)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3024,
        2208
      ]
    },
    {
      "parameters": {
        "projectId": {
          "__rl": true,
          "value": "gen-lang-client-0468317049",
          "mode": "list",
          "cachedResultName": "PRO GEMINI"
        },
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleVertex",
      "typeVersion": 1,
      "position": [
        2736,
        2624
      ],
      "id": "5cf673b9-d04e-4aef-b199-d503e75d4e4a",
      "name": "Google Vertex (Gemini Pro)",
      "credentials": {
        "googleApi": {
          "id": "HGKnkFRmPySzScPs",
          "name": "open code"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2864,
        2624
      ],
      "id": "9fd329a7-99bc-4b7a-a11d-3cde25f63ccc",
      "name": "Memoria Buffer"
    },
    {
      "parameters": {
        "toolDescription": "Consulta disponibilidad en el calendario. Devuelve horarios libres.",
        "url": "https://www.googleapis.com/calendar/v3/calendars/86b158a9564f8d1ac7d4bf304decb80b992450653928999bfcc5edec3c82aabc@group.calendar.google.com/events",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        2992,
        2624
      ],
      "id": "0101c2d8-ed7d-45dd-af66-419ca5876c13",
      "name": "Consultar Disponibilidad",
      "credentials": {
        "googleApi": {
          "id": "JyHXuGtPXmmi0GnY",
          "name": "calendar"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Adaptador de Salida: Asegurar formato JSON para el Frontend\ntry {\n  let rawOutput = $input.first().json.output || $input.first().json.text || \"\";\n  \n  // 1. Si es un objeto ya, lo devolvemos\n  if (typeof rawOutput === 'object') return rawOutput;\n\n  // 2. Si es un string, intentamos limpiar y parsear\n  if (typeof rawOutput === 'string') {\n      let clean = rawOutput.trim();\n      \n      // Manejar bloques de código markdown ```json ... ```\n      if (clean.includes('```json')) {\n          const match = clean.match(/```json\\s*([\\s\\S]*?)\\s*```/);\n          if (match) clean = match[1].trim();\n      }\n\n      if (clean.startsWith('{')) {\n          const parsed = JSON.parse(clean);\n          return {\n              text: parsed.text || \"\",\n              suggestions: parsed.suggestions || ['Más información', 'Agendar cita'],\n              action: parsed.action || null\n          };\n      }\n  }\n\n  // 3. Si es texto plano, envolvemos en estructura estándar\n  return {\n      text: rawOutput,\n      suggestions: ['Más información', 'Agendar cita'],\n      action: null\n  };\n} catch (e) {\n  return {\n      text: String($input.first().json.output || \"Disculpa, ocurrió un error.\"),\n      suggestions: ['Intentar nuevamente'],\n      action: null\n  };\n}"
      },
      "id": "ff91879b-cb26-4786-aa05-6cc5f4bf6492",
      "name": "Formatear Respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3520,
        2464
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "ae6d784b-c76a-40cb-a483-117eb790884d",
      "name": "Responder al Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        3744,
        2720
      ]
    },
    {
      "parameters": {
        "projectId": {
          "__rl": true,
          "value": "gen-lang-client-0468317049",
          "mode": "list",
          "cachedResultName": "PRO GEMINI"
        },
        "modelName": "text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleVertex",
      "typeVersion": 1,
      "position": [
        3104,
        3040
      ],
      "id": "6d3970e9-8050-4043-9c98-c2d58259d27d",
      "name": "Embeddings Google Vertex",
      "credentials": {
        "googleApi": {
          "id": "HGKnkFRmPySzScPs",
          "name": "open code"
        }
      }
    },
    {
      "parameters": {
        "projectId": {
          "__rl": true,
          "value": "gen-lang-client-0468317049",
          "mode": "list",
          "cachedResultName": "PRO GEMINI"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleVertex",
      "typeVersion": 1,
      "position": [
        3312,
        2832
      ],
      "id": "73ab9d1e-0b4f-44ff-a090-29803a98a9b3",
      "name": "Google Vertex Chat Model5",
      "credentials": {
        "googleApi": {
          "id": "HGKnkFRmPySzScPs",
          "name": "open code"
        }
      }
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "document_embeddings",
          "mode": "list",
          "cachedResultName": "document_embeddings"
        },
        "options": {
          "queryName": "match_documents",
          "metadata": {
            "metadataValues": [
              {
                "name": "client_id",
                "value": "={{ $('chat').item.json.metadata.clientId }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        3024,
        2832
      ],
      "id": "f908a31f-fb37-472e-ad4a-ec7e05f5809d",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "gQ5A4mlgfIM82o30",
          "name": "legal service 1"
        }
      }
    },
    {
      "parameters": {
        "name": "knowledge_base",
        "description": "Úsala SIEMPRE para buscar información sobre el estudio jurídico, honorarios y servicios. Es tu única fuente de verdad.",
        "topK": 50
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        3120,
        2624
      ],
      "id": "8463dcf0-d91e-4618-a7ae-6208dfdffe6c",
      "name": "knowledge_base"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "616e01d1-ca82-45e1-8ef1-be996160ea42",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "cf8447d3-a7d4-4e1a-915e-5b092a1735e7",
      "name": "chat",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        2064,
        2720
      ],
      "webhookId": "616e01d1-ca82-45e1-8ef1-be996160ea42"
    }
  ],
  "connections": {
    "Router de Acción": {
      "main": [
        [
          {
            "node": "Procesar Archivo (Mock)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Session ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Calendar Busy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Calendar Busy": {
      "main": [
        [
          {
            "node": "Process Busy Slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Busy Slots": {
      "main": [
        [
          {
            "node": "Responder al Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Session ID": {
      "main": [
        [
          {
            "node": "Agente Legal AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente Legal AI": {
      "main": [
        [
          {
            "node": "Formatear Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Archivo (Mock)": {
      "main": [
        [
          {
            "node": "Formatear Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Vertex (Gemini Pro)": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Legal AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memoria Buffer": {
      "ai_memory": [
        [
          {
            "node": "Agente Legal AI",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Disponibilidad": {
      "ai_tool": [
        [
          {
            "node": "Agente Legal AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Respuesta": {
      "main": [
        [
          {
            "node": "Responder al Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Vertex": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Vertex Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "knowledge_base",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "knowledge_base",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "knowledge_base": {
      "ai_tool": [
        [
          {
            "node": "Agente Legal AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "chat": {
      "main": [
        [
          {
            "node": "Router de Acción",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9826c52f7239649d4bc05220e131b0093cedee950ef644734f717db2023ab237"
  }
}